[Desktop Entry]
Name=Edit
Comment=Text Editor
Exec=singularity-edit %f
Icon=dev.sinty.edit
Terminal=false
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;text/markdown;text/x-markdown;text/html;text/css;text/javascript;text/xml;application/json;application/xml;application/x-shellscript;text/x-python;text/x-csrc;text/x-chdr;text/x-c++src;text/x-c++hdr;text/x-java;text/x-makefile;text/x-vala;text/x-yaml;application/toml;
StartupNotify=true
StartupWMClass=dev.sinty.edit
Actions=new-document;
X-Singularity-Dock-Recent=true

[Desktop Action new-document]
Name=New Document
Exec=singularity-edit --new-document
